@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: whitesmoke;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 20px;
}

.icons img{
    cursor: pointer;
    padding: 0 15px;
}

.container{
    min-height: 70vh;
    background-color: #2c2c2c;
    color: whitesmoke;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    /* background-image: url('bg.jpg'); */
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    padding: 0.2rem;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    /* width: 80%; */
    margin: 17px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 13px;
    border-radius: 20px;
}

.songListPlay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songListPlay img{
    width: 15px;
    cursor: pointer;
}

.songItemPlay{
    padding-right: 0.5rem;
}

.timestamp{
    margin: 0 23px;
    cursor: pointer;
}

.songInfo img{
    width: 45px;
    padding: 0 30px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.songInfo{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8vw;
    margin-top: 20px;
}

.songInfo p{
    margin-top: 10px;
}

.songList{
    display: flex;
}

.casetegif{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.casetegif img{
    border-radius: 45%;
}